---
http_interactions:
- request:
    method: get
    uri: http://jservice.io/api/clues?category=67&max_date=2023-01-01&min_date=2000-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f0f35de207843c5ac815187c5d9acf2"
    body:
      encoding: UTF-8
      string: '[{"id":67860,"answer":"Hillary Clinton","question":"In 1969 she graduated
        from Wellesley College where she was president of the student government","value":100,"airdate":"2000-02-04T20:00:00.000Z","created_at":"2022-12-30T19:07:13.255Z","updated_at":"2022-12-30T19:07:13.255Z","category_id":67,"game_id":2033,"invalid_count":null,"category":{"id":67,"title":"first
        ladies","created_at":"2022-12-30T18:37:44.315Z","updated_at":"2022-12-30T18:37:44.315Z","clues_count":220}},{"id":67865,"answer":"Pat
        Nixon","question":"In the late 1930s, she taught typing \u0026 shorthand at
        Whittier High School in California","value":200,"airdate":"2000-02-04T20:00:00.000Z","created_at":"2022-12-30T19:07:13.308Z","updated_at":"2022-12-30T19:07:13.308Z","category_id":67,"game_id":2033,"invalid_count":null,"category":{"id":67,"title":"first
        ladies","created_at":"2022-12-30T18:37:44.315Z","updated_at":"2022-12-30T18:37:44.315Z","clues_count":220}},{"id":6[...]
